version: "3.8"

services:
  opensearch-node1:
    image: opensearchproject/opensearch:3.1.0
    container_name: opensearch-node1
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=false
      - DISABLE_SECURITY_PLUGIN=true
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      nofile: { soft: 65536, hard: 65536 }
    volumes:
      - opensearch-data1:/usr/share/opensearch/data
    ports:
      - "9200:9200"
      - "9600:9600"
    networks: [opensearch-net]

  opensearch-node2:
    image: opensearchproject/opensearch:3.1.0
    container_name: opensearch-node2
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node2
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=false
      - DISABLE_SECURITY_PLUGIN=true
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      nofile: { soft: 65536, hard: 65536 }
    volumes:
      - opensearch-data2:/usr/share/opensearch/data
    networks: [opensearch-net]

  dashboards:
    image: opensearchproject/opensearch-dashboards:3.1.0
    container_name: dashboards
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch-node1:9200","http://opensearch-node2:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
      OPENSEARCH_OBSERVABILITY_ENABLED: "true"
      data_source.enabled: true
    ports:
      - "5601:5601"
    networks: [opensearch-net]

  # jaeger-collector:
  #   image: jaegertracing/jaeger-collector:1.56
  #   container_name: jaeger-collector
  #   environment:
  #     - SPAN_STORAGE_TYPE=opensearch
  #     - ES_VERSION=7
  #     - ES_TAGS_AS_FIELDS_ALL=true
  #   command: [
  #     "--es.server-urls=http://opensearch-node1:9200,http://opensearch-node2:9200",
  #     "--es.version=7",
  #     "--collector.otlp.enabled=true"
  #   ]
  #   ports:
  #     - "14250:14250"  # OTLP gRPC
  #     - "14268:14268"  # Jaeger ingest HTTP
  #     - "4318:4318"    # OTLP HTTP
  #   networks: [opensearch-net]
  #   depends_on:
  #     - opensearch-node1

  # jaeger-query:
  #   image: jaegertracing/jaeger-query:1.56
  #   container_name: jaeger-query
  #   environment:
  #     - SPAN_STORAGE_TYPE=opensearch
  #     - ES_VERSION=7
  #   command: ["--es.server-urls=http://opensearch-node1:9200,http://opensearch-node2:9200",
  #     "--es.version=7"
  #   ]
  #   ports:
  #     - "16686:16686"  # Jaeger UI & Query API
  #   networks: [opensearch-net]
  #   depends_on:
  #     - opensearch-node1

  # jaeger-agent:
  #   image: jaegertracing/jaeger-agent:1.56
  #   hostname: jaeger-agent
  #   command: ["--reporter.grpc.host-port=jaeger-collector:14250"]
  #   ports:
  #     - "6831:6831/udp"
  #     - "6832:6832/udp"
  #   networks: [opensearch-net]
  #   depends_on:
  #     - jaeger-collector

  jaeger:
      image: quay.io/jaegertracing/all-in-one:1.56
      container_name: jaeger
      environment:
        - SPAN_STORAGE_TYPE=opensearch        
        - ES_TAGS_AS_FIELDS_ALL=true
      command: [
        "--collector.otlp.enabled=true",
        "--es.server-urls=http://opensearch-node1:9200,http://opensearch-node2:9200",
        "--es.version=7"
      ]
      ports:
        - "16686:16686" # UI & Query API
        - "4317:4317"   # OTLP gRPC 
        - "4318:4318"   # OTLP HTTP
        - "14250:14250" # OTLP gRPC (Jaeger proto)
        - "14268:14268" # Jaeger Thrift HTTP
        - "6831:6831/udp" # Agent Thrift UDP
        - "6832:6832/udp" # Agent Compact UDP
      networks: [ opensearch-net ]

volumes:
  opensearch-data1:
  opensearch-data2:

networks:
  opensearch-net: